// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$text-dark: #383874;
$text-light: #929292;

$bg-dark: #424242;
$bg-light: #b4bfcc;
$bg-deep-blue: #080056;

$content-bg: #252735;

$sidebar-highlight : #2f374a;
$sidebar-bg : #2a3142;

$red : #ec4561;
$green : #02a499;





// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;