.table-head {
    display: grid;
    grid-template-columns: 25% 25% 20% 10% 10% 5% 5%;
    font-weight: bold;
}

.page-details {
    display: grid;
    grid-template-columns: 25% 25% 20% 10% 10% 5% 5%;
    
}

.table {
    display: grid;
    grid-template-columns: 25% 25% 20% 10% 10% 5% 5%;
}

// for punch-in page
.table-head2 {
    display: grid;
    grid-template-columns: 25% 25% 20% 10% 10% 5% 5%;
    font-weight: bold;
    background-color: #ffffff;
}

.table-wrapper {
    border: 1px solid #e5e5f0;
    border-radius: 32px;
    background-color: #ffffff;
    padding: 32px;

}

.table2 {
    display: grid;
    grid-template-columns: 10% 28% 32% 30%;
}

.tc {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    background-color: rgb(37, 37, 37);
    // border-bottom: 1px solid #585858;

	color: $text-light;
	
	
}

.tc-small {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    background-color: rgb(37, 37, 37);

	font-size: .6rem;
	color: $text-light;
	
	
}


input{
	background-color: $text-light;
}
::placeholder{
	color: $text-light;
	
}

.tch {
    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}
