.side-bar {
    background-color: $sidebar-bg;
    width: 256px;
    color: #ff0000;
    height: 700px;
    text-align: left;
    padding-top: 3rem;

    .title {
        color: #f0f0f0;
        padding-left: 30px;
    }
}

.inner-side-bar {
    height: 500px;
    padding-top: 3rem;

    
}